.Hamburger {
  display: none;
  box-shadow: 0px 0px 10px 1px rgba(213, 232, 255, 0.842);
  padding:2px auto;
  background: rgba(255, 255, 255, 0.746);
  border-radius: 14px;
  color: rgba(39, 63, 118, 0.826);
}
.SubmitIdea {
  display: none;
}
.NAV_ABOUT {
  display: none;
}
.NavbarAbout {
  display: flex;
}

@media (max-width: 1120px) {
  .NavbarAbout div {
    font-size: 1rem;
  }

  .NavbarTitle {
    font-size: 1.1rem;
    z-index: 1;
  }

  .NavbarSubmit {
    width: 15%;
    font-size: 0.9rem;
  }
}

.showit {
  display: none;
}

@media (max-width: 980px) {
  .NavbarAbout {
    display: none;
  }

  .NavbarSubmit {
    margin: auto auto;
    width: fit-content;
    padding: 5px;
  }

  .NavbarTitle {
    font-size: 1rem;
    z-index: 1;
  }

  .SubmitIdea {
    display: block;
  }

  .NavbarDisplay {
    display: none;
  }
  .Hamburger {
    display: block;
  }

  .NAV_ABOUT {
    position: relative;
    z-index: 100px;
  }

  .NAV_ABOUT {
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-shadow: rgba(133, 133, 133, 0.25) 0px 1px 0px; 
  }

  .Navbar {
    display: grid;
    grid-template-columns: 1fr;
  }

  .Logo {
    justify-content: space-between;
  }
  @keyframes colorChange {
    0% {
      color: #5172E7; /* Initial color */
    }
    50% {
      color: #FF4500; /* Midway color */
    }
    100% {
      color: #e751c2; /* Final color, same as initial for infinite loop */
    }
  }
  .animate-colorChange {
    animation: colorChange 3s infinite; /* Adjust the duration as needed */
  }
}

/* ******************************************************** */
